body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.upload-box {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto; /* Center the box horizontally */
}

.delete-box {
    margin-top: 20px;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button.delete-button {
    background-color: #ff0000;
}

button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    text-align: center;
}